<div class="top-header">
    <h1>Get in touch</h1>
    <hr>
</div>


<div class="main-container">
   
    <div class="git-container">

        <div class="forum">
            <div class="icon-section">
                <h1>Contact</h1>
                <ul>
                    <li>
                        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                        Midrand, Gauteng<br> South Africa
                    </li>
                    <li>
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        perez_st&#64;icloud.com
                    </li>
                    <li>
                        <fa-icon [icon]="faPhone"></fa-icon>
                        +27 69 436 98 05
                    </li>
                </ul>
            </div>
        </div>

        <form id="contact-form" alt="fields">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"   required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="phone">  

            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>  
            </div>
        </form>
    </div>
</div>













<!-- <div class="contact-container">
    <div class="contact-card">
      <h2>Contact Us</h2>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i> 
          32, Avenue ve Newyork<br> 321994 Newyork
        </li>
        <li>
          <i class="fas fa-envelope"></i> 
          hello&#64;loremipsum.com
        </li>
        <li>
          <i class="fas fa-phone"></i> 
          +3356 1589 2105
        </li>
        <li>
          <i class="fas fa-fax"></i> 
          +3356 1589 2100
        </li>
      </ul>
    </div>
    <div class="form-container">
      <h2>Get in Touch</h2>
      <p>Feel free to drop us a line below!</p>
      <form>
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <textarea placeholder="Typing your message here......" required></textarea>
        <button type="submit">SEND</button>
      </form>
    </div>
  </div>
   -->