<div class="top-header">
    <h1>About</h1>
    <hr>
</div>
<div class="container">
    <div class="words">
        <p> Enthusiastic, passionate and results-driven Full-Stack Developer with 1 year of professional experience<br>
            designing, developing,and deploying web applications. Proficient in Java, C++, JavaScript, HTML, CSS,<br> 
            SQL,and frameworks like Angular and Spring. Adept at database management, API development, and <br>
            delivering user-centric solutions. Passionate about solving complex problems and contributing to <br>
            impactful projects. Committed to continuous learning and professional growth.</p>

        <p> As a young fellow developer I aspire to learn newer technologies and to develop and bring great<br>
            ideals to life through systems.</p>

        <p class="quote">
            "If you can imagine it, it's definately is deliverable, time and skill is the factor."
        </p>
    </div>
    <div class="profile">
        <img src="dp.jpg">
    </div>
</div>