<div class="main-c">
    <div class="top-header">
        <h1>About</h1>
        <hr>
    </div>
    <div class="container">
        <div class="words">
            <p>I am a passionate and results-driven Full-Stack Developer with a BSc in Computer Science and one year<br>
                of professional experience in designing, developing, and deploying web applications. Proficient in Java,<br> 
                C++, JavaScript, HTML, CSS, and SQL, I specialize in building scalable solutions using Angular and Spring.<br>
                I have hands-on experience in database management, API development, and creating user-centric applications<br>
                that drive impact.</p>

            <p>I thrive on solving complex problems and continuously expanding my skill set to stay ahead in the ever-evolving<br>
                tech landscape. My goal is to leverage technology to bring innovative ideas to life and contribute to meaningful<br> 
                projects.
            </p>
            <!-- <p> Enthusiastic, passionate and results-driven Full-Stack Developer with 1 year of professional experience<br>
                designing, developing,and deploying web applications. Proficient in Java, C++, JavaScript, HTML,
                CSS,<br>
                SQL and frameworks like Angular and Spring. Adept at database management, API development, and <br>
                delivering user-centric solutions. Passionate about solving complex problems and contributing to <br>
                impactful projects. Committed to continuous learning and professional growth.</p>

            <p> As a young fellow developer I aspire to learn newer technologies and to develop and bring great<br>
                ideals to life through systems.</p> -->

            <p class="quote">
                "If you can imagine it, it’s definitely deliverable—time and skill are the only factors."
            </p>
        </div>
        <div class="profile">
            <!-- <img src="assets/dp.jpg"> -->
        </div>
    </div>
</div>