.heading {
  z-index: 1100;
  position: fixed;
  top: 2px;
  width: 98%;
  height: 92px;
  background-color: #ffffff;
}

.heading hr {
  margin-left: 18px;
}

.name {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.015em;
  margin-left: 20px; */
  background: linear-gradient(to bottom, #ffffff, rgba(29, 29, 29, 0.733));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b {
  margin-top: 100px;
}

.text-racing {
  color: #000;
  /* font-weight: ; */
  background: linear-gradient(90deg, transparent, #17d7e1, transparent) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 50% 100%;
  animation: textRace 2s linear infinite;
 }
 
 @keyframes textRace {
  0% { background-position: -50% 0; }
  100% { background-position: 150% 0; }
 }
  
  .n-btn {
    position: absolute;
    width: 100%;
    height: 50px;
    box-shadow: #ccc;
    /* background: #ccc; */
    /* color: #fff; */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: transform 0.4s, z-index 0.4s, background 0.4s;
    transform-origin: center;
  }
  
  .n-btn.active {
    background: #007bff;
    transform: translateY(0) scale(1.1); /* Bring to the front and enlarge slightly */
    z-index: 3;
  }
  
  .n-btn:nth-child(2) {
    transform: translateY(30px) scale(0.9);
    z-index: 2;
  }
  
  .n-btn:nth-child(3) {
    transform: translateY(60px) scale(0.8);
    z-index: 1;
  }
  
  .n-btn:not(.active):hover {
    transform: translateY(0) scale(1);
    z-index: 4; /* Bring hovered button to the front */
  }
  
  .semi-nav {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .nav-card {
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .nav-card.active {
    background-color: #007bff;
    color: white;
    transform: scale(1.1) translateX(-10px);
  }
  
.nav-card:hover {
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background: #f8f8f8;
  padding-block: 40px 60px;
}

.top-footer p {
  font-size: 25px;
  font-weight: 600;
}

.footer-social-icons {
    display: flex;
    gap: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon fa-icon {
  box-shadow: #ccc;
  color: black;
}

.b app-about {
  height: 100vh;
}

.bottom-footer p a {
  color: #007bff;
}