.ho {
  /* background: linear-gradient(to top, #ffffff, #00000000 15%), url("/../assets/Wall.jpg"); */
  background: linear-gradient(to top, #ffffff, #00000000 15%), url("/../assets/WallP.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  width: 100.70%;
  height: 90vh;
  text-decoration: #ffffff;
}

.tittle {
  padding-top:150px;
  font-size: 70px;
}

.ho h2 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
  margin: 10px 10px;
  animation: typing 5s steps(30, end) forwards, blink 0.8s infinite, fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.heading {
  z-index: 1100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  height: 72px;
  background-color: #bab9aa;
  transition: background 0.3s ease-in-out;
  align-items: center;
  display: flex;

}

header.scrolled {
  background: #007bff !important;
  opacity: 100%;

}

.heading hr {
  top: 64px;
  position: absolute;
  margin-left: 18px;
  width: 95%;
}

.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-size: clamp(24px, 4vw, 32px);
  line-height: 1.5;
  letter-spacing: -0.015em;
  background: linear-gradient(to bottom, #ffffff, rgba(151, 205, 255, 0.733));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  word-break: break-word;
}

.name.scrolled {
  background: linear-gradient(to bottom, #ffffff, rgb(128, 128, 128));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b {
  margin-top: 73px;
  margin-left: -13px;
  
}

.text-racing {
  color: #ffffff;
  background: linear-gradient(90deg, transparent, #17d7e1, transparent) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 50% 100%;
  animation: textRace 2s linear infinite;
}

/* @keyframes textRace {
  0% { background-position: -50% 0; }
  100% { background-position: 150% 0; }
 }
  
  .n-btn {
    position: absolute;
    width: 100%;
    height: 50px;
    box-shadow: #ccc;
    /* background: #ccc; *
    /* color: #fff; *
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: transform 0.4s, z-index 0.4s, background 0.4s;
    transform-origin: center;
  }
  
  .n-btn.active {
    background: #007bff;
    transform: translateY(0) scale(1.1); /* Bring to the front and enlarge slightly *
    z-index: 3;
  }
  
  .n-btn:nth-child(2) {
    transform: translateY(30px) scale(0.9);
    z-index: 2;
  }
  
  .n-btn:nth-child(3) {
    transform: translateY(60px) scale(0.8);
    z-index: 1;
  }
  
  .n-btn:not(.active):hover {
    transform: translateY(0) scale(1);
    z-index: 4; /* Bring hovered button to the front *
  }
  
  .semi-nav {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .nav-card {
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .nav-card.active {
    background-color: #007bff;
    color: white;
    transform: scale(1.1) translateX(-10px);
  }
  
.nav-card:hover {
  transform: scale(1.05);
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  background: #f8f8f8;
  padding-block: 40px 60px;
}

.top-footer p {
  font-size: 25px;
  font-weight: 600;
}

.footer-social-icons {
  display: flex;
  gap: 50px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon fa-icon {
  box-shadow: #ccc;
  color: black;
}

.b app-about {
  height: 100vh;
}

.bottom-footer p a {
  color: #007bff;
}

.l-btn {
  margin: 20px;
  padding: 8px;
  border-radius: 7px;
  width: 100px;
}

.overlay {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 28px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



@media (max-width: 400px) {
  .name {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .heading {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .heading hr {
    width: 87%;
  }

  .ho h1 {
    padding-top: 60px;
    color: #ffffff;
  }
  .p {
    color: #ffffff;
  }
}


