<div class="top-header">
    <h1>Get in touch</h1>
    <hr>
</div>


<div class="main-container">

    <div class="git-container">

        <div class="forum">
            <div class="icon-section">
                <h1>Contact</h1>
                <ul>
                    <li>
                        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                        Midrand, Gauteng South Africa
                    </li>
                    <li>
                        <a href="https://github.com/Boitumelo-perez" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faGithub"></fa-icon>
                            Boitumelo-perez</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/boitumelo-sinwamadi-4546a6285/" target="_blank"
                            rel="noopener noreferrer">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                            Boitumelo Sinwamadi Perez</a>
                    </li>
                    <li>
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        perez_st&#64;icloud.com
                    </li>
                    <li>
                        <fa-icon [icon]="faPhone"></fa-icon>
                        +27 69 436 98 05
                    </li>
                </ul>
            </div>
        </div>

        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="formData.name">

            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="formData.email">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="formData.subject">

            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" required
                    [(ngModel)]="formData.message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>  
            </div>
        </form>

        <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
</div>