<div class="top-header">
  <h1>Projects</h1>
  <hr>
</div>
<div class="project-container">
  <div class="project-box">
    <a href="https://github.com/Boitumelo-perez/Tic-Tac-Toe">
      <img src="./XO.png" alt="Project 1" />
      <h3>Tic Tac Toe</h3>
      <label>
        This is a Tic Tac Toe Game informally known as X-O.
        Built this game using Java Swing and Gui from Netbeans
        IDE enabling to create a seamless UI using drag and drop.
        The purpose of this app was a Project for school, a game
        just reminded me why I even began programming after all
      </label>
    </a>
  </div>
  <div class="project-box">
    <a href="https://github.com/Boitumelo-perez/Search-and-Sorting-Application">
      <img src="./Cus_M.png" alt="Project 1" />
      <h3>Customer Management</h3>
      <label>
        This is Customer Management System App that uploads a .txt or .csv file,
        reads it, upload to the database and can search also sort Customer data
        i.e. Name and Surname. This was a project I built using Angular & Spring
        frameworks also with Docker as part of my Practical Test while at Geeks4Learning.

      </label>
    </a>
  </div>
  <div class="project-box">
    <a href="https://github.com/Boitumelo-perez/MusetshoAttorneys">
      <img src="./MAui.png" alt="Project 1" />
      <h3>Musetsho Attorneys</h3>
      <label>
        This is an informative Website for a private client Musetsho Attorneys inc. 
        It displayed their areas of practice and expertise, thier socials popular cases,
        some testimonials how to reach them and some, unfortunately this webiste didn't end
        up as the final product.
        was build using Angualar 19 for the frontend.
      </label>
    </a>
  </div>
</div>