<div class="top-header">
    <h1>Skills</h1>
    <hr>
</div>
<div class="Sub-c">
    <div class="Front">
        <h2>Front-end</h2>
        <div class="cont">
            <div class="S-icon">
                <img src="./assets/angular.png" alt="logo">
                <span>Angular</span>
            </div>
            <div class="S-icon">
                <img src="./assets/html.png" alt="logo">
                <span>HTML</span>
            </div>
            <div class="S-icon">
                <img src="./assets/css.png" alt="logo">
                <span>CSS</span>
            </div>
            <div class="S-icon">
                <img src="./assets/javascript.png" alt="logo">
                <span>JavaScript</span>
            </div>
            <div class="S-icon">
                <img src="./assets/typescript.png" alt="logo">
                <span>TypeScript</span>
            </div>
            <div class="S-icon">
                <img src="./assets/nodejs.png" alt="logo">
                <span>NodeJS</span>
            </div>
            <!-- <div class="S-icon">
            <img src="" alt="logo">
            <span></span>
        </div> -->
        </div>
    </div>
    <div class="Back">
        <h2>Backend</h2>
        <div class="cont">
            <div class="S-icon">
                <img src="./assets/java.png" alt="logo">
                <span>Java</span>
            </div>
            <div class="S-icon">
                <img src="./assets/c++.png" alt="logo">
                <span>C++</span>
            </div>
            <div class="S-icon">
                <img src="./assets/python.png" alt="logo">
                <span>Python</span>
            </div>
            <div class="S-icon">
                <img src="./assets/spring.png" alt="logo">
                <span>Spring</span>
            </div>
            <div class="S-icon">
                <img src="./assets/Django.png" alt="logo">
                <span>Django</span>
            </div>
            <div class="S-icon">
                <img src="./assets/postgres.png" alt="logo">
                <span>PostgreSQL</span>
            </div>
            <div class="S-icon">
                <img src="./assets/mysql.png" alt="logo">
                <span>MySQL</span>
            </div>
            <div class="S-icon">
                <img src="./assets/swagger.png" alt="logo">
                <span>Swagger</span>
            </div>
            <div class="S-icon">
                <img src="./assets/docker.png" alt="logo">
                <span>Docker</span>
            </div>
        </div>
    </div>
</div>