<div class="top-header">
    <h1>Skills</h1>
    <hr>
</div>
<div class="Sub-c">
    <div class="Front">
        <h2>Front-end</h2>
        <div class="cont">
            <div class="S-icon">
                <img src="angular.png" alt="logo">
                <span>Angular</span>
            </div>
            <div class="S-icon">
                <img src="html.png" alt="logo">
                <span>HTML</span>
            </div>
            <div class="S-icon">
                <img src="css.png" alt="logo">
                <span>CSS</span>
            </div>
            <div class="S-icon">
                <img src="javascript.png" alt="logo">
                <span>JavaScript</span>
            </div>
            <div class="S-icon">
                <img src="typescript.png" alt="logo">
                <span>TypeScript</span>
            </div>
            <div class="S-icon">
                <img src="nodejs.png" alt="logo">
                <span>NodeJS</span>
            </div>
            <!-- <div class="S-icon">
            <img src="" alt="logo">
            <span></span>
        </div> -->
        </div>
    </div>
    <div class="Back">
        <h2>Backend</h2>
        <div class="cont">
            <div class="S-icon">
                <img src="java.png" alt="logo">
                <span>Java</span>
            </div>
            <div class="S-icon">
                <img src="c++.png" alt="logo">
                <span>C++</span>
            </div>
            <div class="S-icon">
                <img src="spring.png" alt="logo">
                <span>Spring</span>
            </div>
            <div class="S-icon">
                <img src="postgres.png" alt="logo">
                <span>PostgreSQL</span>
            </div>
            <div class="S-icon">
                <img src="mysql.png" alt="logo">
                <span>MySQL</span>
            </div>
            <div class="S-icon">
                <img src="docker.png" alt="logo">
                <span>Docker</span>
            </div>
        </div>
    </div>
</div>