<!-- <div class="semi-nav">
  <div
    class="nav-card"
    *ngFor="let section of sections; let i = index"
    [ngStyle]="getCardStyle(i)"
    [class.active]="i === currentSectionIndex"
    (click)="scrollToSection(section.id)"
  >
    {{ section.name }}
  </div>
</div> -->

<!-- <div class="navigator">
  <div class="show" *ngFor="sections">
    <h4>{{currentSectionIndex}}</h4>
  </div>
</div> -->


<div class="nav-container" *ngIf="isHomeRoute">
  <div class="nav-wrapper">
    <button 
      class="nav-button" 
      (click)="isOpen = !isOpen"
      [class.active]="isOpen">
      <span>{{currentSection}}</span>
      <i class="arrow" [class.up]="isOpen"></i>
    </button>

    <div class="nav-dropdown" *ngIf="isOpen">
      <button 
        *ngFor="let section of sections"
        (click)="navigateToSection(section.selector)"
        class="dropdown-item">
        {{section.label}}
      </button>
    </div>
  </div>
</div>