<div class="nav-container" *ngIf="isHomeRoute">
  <div class="nav-wrapper">
    <button 
      class="nav-button" 
      (click)="isOpen = !isOpen"
      [class.active]="isOpen">
      <span>{{currentSection}}</span>
      <i class="arrow" [class.up]="isOpen"></i>
    </button>

    <div class="nav-dropdown" *ngIf="isOpen">
      <button 
        *ngFor="let section of sections"
        (click)="navigateToSection(section.selector)"
        class="dropdown-item">
        {{section.label}}
      </button>
    </div>
  </div>
</div>