<div class="top-header">
    <h1>Experience</h1>
    <hr>
</div>
<div class="container">
    <div class="E-card" (click)="toggleDetails()">
      <h2 class="job-title">FullStack Java Developer</h2>
      <p class="company-info">
        <a href="https://geeks4learning.com/" target="_blank">Geeks4Learning</a>, 
        6 Coombe Pl, Rivonia, Sandton, 2128 <br> 
        February 2024 - January 2025
      </p>
      <div class="details" [class.collapsed]="!isExpanded">
        <p *ngIf="isExpanded">Key Responsibilities:</p>
        <ul *ngIf="isExpanded">
          <li>Developed and maintained full-stack Java applications.</li>
          <li>Collaborated with cross-functional teams for project delivery.</li>
          <li>Implemented RESTful APIs and managed database integrations.</li>
          <li>Collaborated in Agile environment using Kanbar.</li>
        </ul>
      </div>
    </div>
  </div>