<div class="top-header">
    <h1>Experience</h1>
    <hr>
</div>
<div class="container">
    <div class="E-card">
        <h2 class="job-title">FullStack Java Developer</h2>

        <p class="company-info"><a href="https://geeks4learning.com/" target="_blank">Geeks4Leanring</a> , 6 Coombe Pl,
            Rivonia, Sandton, 2128 <br> February 2024 - January 2025</p>
        <div class="details" [class.collapsed]="!isExpanded " (click)="toggleDetails()">
            <p class="section-title">Key Responsibilities:</p>
            <ul>
                <li>Developed and maintained scalable web applications using Angular and Spring Boot.</li>
                <li>Collaborated with cross-functional teams to define, design, and ship new features.</li>
            </ul>
        </div>
    </div>
</div>