.container {
    display: flex;
    justify-content: center;
    flex-direction: grid;
    margin: 40px;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 20px;
}

.container p {
    padding: 20px;
}

.msg {
    text-align: center;
    margin-bottom: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* font-weight: 400px; */
    font-style: normal;
    color: #5a5a5ad3;
    line-height: 1.5;
    letter-spacing: -0.015em;
    margin-left: 20px;
}

.msg:hover {
    color: #007bff;
}

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  
  .details.show {
    max-height: 500px; /* Adjust based on content height */
  }

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 1.5rem;
}

.experience {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.experience:last-of-type {
    border-bottom: none;
}

.job-title {
    color: #34495e;
}

.company-info {
    font-size: 0.9rem;
    color: #7f8c8d;
}

.company-info a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s
}

.company-info :hover {
    cursor: pointer;
    color: #2980b9;
    text-decoration: underline;
}

.company-info a::after {
    font-size: 0.7rem;
    margin-left: 0.3rem;
    color: inherit;
}

.section-title {
    font-weight: bold;
    color: #2c3e50;
    margin-top: 1rem;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5rem;

    margin-bottom: 0.5rem;
}

ul li {
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.015em;
    margin-left: 20px;
    margin: 0;
    padding-left: 1.5rem;
}